.Layout_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.Loading_overlaydiv {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
  background-color: black;
  width: 0%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.Loading_container {
  width: 100%;
  height: 95vh;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.image_container {
  width: 350px;
}

.Loading_Number_div {
  position: absolute;
  bottom: 10%;
  right: 10%;
  padding: 10px;
  font-size: 72px;
  font-family: Joyride W05 STD;
}

.scroll-section-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 3;
}

.scroll-section {
  flex: 0 0 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lightblue; */
  position: relative;
}

.scroll-section:nth-child(2) {
  background: lightcoral;
}

.scroll-section:nth-child(3) {
  background: lightgreen;
}

.section1content {
  /* background-color: red; */
  position: absolute;
  top: 32%;
  left: 29%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.section1content h1 {
  font-size: 7rem;
  font-family: Joyride W05 STD;
  text-transform: uppercase;
  color: black;
}

.section1content h3 {
  font-size: 7rem;
  font-family: "Joyride W05 STD", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: transparent; /* Makes the inside of the text transparent */
  -webkit-text-stroke: 0.3px black; /* Defines the text border width and color */
  -webkit-text-fill-color: transparent; /* Ensures only the border is visible */
  line-height: 50px;
  word-spacing: -40px;
}

.section1content p {
  font-size: 1.3rem;
  font-family: "Joyride W05 STD", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: black;
  margin: 60px 0px;
}

.section1content_buttoncontainer {
  width: 100%;
  display: flex;
  margin: 10px 0px;
}

.section1content_buttoncontainer_button {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Joyride W05 STD";
  color: black;
  margin: 0px 10px;
  border-radius: 10px;
  border:2px solid #FC8100
}
