.Layout_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.Loading_overlaydiv {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
  background-color: black;
  width: 0%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.Loading_container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.image_container {
  width: 350px;
}
.Loading_Number_div {
  position: absolute;
  bottom: 10%;
  right: 10%;
  padding: 10px;
  font-size: 72px;
  font-family: "Joyride W05 STD";
}
.scroll-section-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 3;
}
.scroll-section {
  flex: 0 0 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: black;
  position: relative;
  padding: 40px;
}

.Model1_container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translate(-50%,-50%);
  /* background-color: red; */

}


.scroll-section:nth-child(2) {
  background: black;
}
.scroll-section:nth-child(3) {
  background: black;
}
.section1content {
  padding: 10px;
  z-index: 999;
  opacity: 0;
}
.section1content h1 {
  font-size: 5rem;
  font-family: Joyride W05 STD;
  text-transform: uppercase;
  color: white;
}
.section1content h3 {
  font-size: 5rem;
  font-family: "Joyride W05 STD", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
  -webkit-text-fill-color: transparent;
  line-height: 50px;
  word-spacing: -30px;
}
.section1content p {
  font-size: 1rem;
  font-family: "Joyride W05 STD", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  margin: 60px 0px;
}
.section1content_buttoncontainer {
  width: 100%;
  display: flex;
  margin: 10px 0px;
}
.section1content_buttoncontainer_button {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Joyride W05 STD";
  color: black;
  margin: 0px 10px;
  border-radius: 10px;
  border: 2px solid #fc8100;
}
.section2content {
  padding: 10px;
  z-index: 999;
}
.section2content > h1 {
  font-size: 4rem;
  font-family: "Joyride W05 STD";
  text-transform: uppercase;
  color: #fc8100;
}
.section2content > h3 {
  font-size: 3rem;
  font-family: "Joyride W05 STD";
  background-color: transparent;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
  -webkit-text-fill-color: transparent;
  line-height:50px;
  margin: 20px 0px;
  font-stretch: extra-expanded;
}
.section2content > p {
  font-size: 1rem;
  font-family: "Joyride W05 STD";
  line-height: 30px;
  margin: 20px 0px;
  text-transform: uppercase;
  color: white;
}
.section3content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
    z-index: 999;
}
.section3content > h1 {
  font-size: 2rem;
  font-family: "Joyride W05 STD";
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.section3content > h3 {
  width: 100%;
  text-align: center;
  font-stretch: expanded;
  padding: 0px 40px;
  font-size: 2rem;
  font-family: "Joyride W05 STD";
  text-transform: uppercase;
  color: #fc8100;
}
.section3content_headingbox {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section3content_headingbox > h3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  text-align: center;
}
.section3content_headingbox > p {
  width: 100%;
  font-size: 0.7rem;
  padding: 10px 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  text-align: center;
}


/* -----------------------------------------------------------------------------  section4content ------- */


.section4content {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
    z-index: 999;
}
.section4content > h2 {
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  font-size: 1rem;
}
.section4content_container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section4content_box {
  width: 40%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  border: 2px solid #fc8100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section4content_box > h3 {
  color: white;
  font-size: 0.7rem;
  padding: 0px 20px;
  text-align: center;
}
.section4content_box > p {
  color: white;
  padding: 0px 20px;
  text-align: center;
  font-size: 0.5rem;
}
.section4content_box > button {
  color: black;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #fc8100;
  border-radius: 10px;
  background-color: white;
  font-family: "Joyride W05 STD";
  font-size: 1rem;
}


/* ------------------------------------------------------------------------------------  section5content ------- */


.section5content {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
    z-index: 999;
}
.section5content > h2 {
  text-align: center;
  color: white;
font-size: 1rem;
}
.section5content_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 80%;
}
.section5content_box {
  width: 15%;
  height: 100%;
  border: 2px solid #fc8100;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section5content_box > h3 {
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}
.section5content_box > p {
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.5rem;
}


/* ------------------------------------------------ section6 ------- */


.section6content {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
    z-index: 999;
}
.section6content > h2 {
  text-transform: uppercase;
  font-family: "Joyride W05 STD";
  color: white;
  text-align: center;
  font-size: 1rem;
}
.section6content_container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section6content_box {
  width: 15%;
  height: 100%;
  border: 2px solid #fc8100;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.section6content_box > h3 {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 0.8rem;
}
.section6content_box > h4 {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 0.7rem;
}
.section6content_box > p {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 0.5rem;
}


.position-info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}





@media (min-width:0px) and (max-width:450px) {

  .scroll-section{
    padding: 10px;
  }
  .section1content{
    padding: 0px;
  }
  .section1content h1{
    font-size: 3rem;
  }
  .section1content h3{
    font-size: 2rem;
    word-spacing: -5px;
  }
  .section1content p{
    margin: 40px 0px;
  }
  .section1content_buttoncontainer{
    flex-direction: column;
  }
  .section1content_buttoncontainer_button{
    width: 90%;
    margin: 10px 0px;
  }


  /* ------------------------------------------  .section2content  --- */


  .section2content{
    padding: 0px;
  }
  .section2content > h1{
    font-size: 2.4rem;
  }
  .section2content > h3{
    font-size: 2rem;
    line-height: 35px;
  }
  .section2content > p{
    font-size:1rem;
    line-height: 22px;
  }


  /*--------------------------------------------  .section3content_headingbox ----- */


  .section3content_headingbox{
    flex-direction: column;
    padding: 5px 0px;
  }
  .section3content > h1{
    font-size: 1.5rem;
  }
  .section3content > h3{
    font-size: 1.3rem;
    padding: 0px;
  }
  .section3content_headingbox > h3{
    font-size: 0.8rem;
    margin: 10px 0px;
  }
  .section3content_headingbox > p{
    padding: 10px 0px;
    line-height: 12px;
  }


  /* ----.section4content_box > button */


  .section4content_container{
    flex-direction: column;
  }
  .section4content_box > button{
    padding: 10px 50px;
    font-size: 0.5rem;
  }
  .section4content_box > h3{
    padding: 0px;
  }

  .section4content_box{
    width: 100%;
    margin: 10px;
  }

  .section4content_box > p{
    padding: 0px 5px;
  }

  /* ---------------------------------------------  .section5content_container */

  .section5content > h2{
    font-size: 0.8rem;
  }
  .section5content_container{
    flex-direction: column;
  }
  .section5content_box{
    width: 88%;
    min-height: 16%;
    padding: 2px 5px;
    margin: 10px 0px;
  }
  .section5content_box > h3{
    padding: 0px;
    font-size: 0.5rem;
  }
  .section5content_box > p{
    padding: 2px 0px;
    font-size: 0.4rem;
  }

/* ------------------------------------------------------  .section6content > h2 ---- */

.section6content > h2{
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.section6content_container{
  flex-direction: column;
  justify-content: center;
}
.section6content_box{
  width: 98%;
  padding: 5px 15px;
  margin: 8px 0px;
}
.section6content_box > h3{
  padding: 0px;
  font-size: 0.6rem;
}
.section6content_box > h4{
  padding: 2px 0px;
  font-size: 0.5rem;
}
.section6content_box > p{
  padding: 2px 0px;
  font-style: 0.4rem;
}

}
